<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Agency</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div th:insert="~{fragments/menu :: navbar}"></div>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/cabinet}" th:text="#{index.menu}">cabinet</a>
            </li>
        </ul>

        <div class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
            <a th:href="@{/(lang='en')}" class="nav-link d-inline p-0">English</a>
            <span class="text-muted mx-1">/</span>
            <a th:href="@{/(lang='ua')}" class="nav-link d-inline p-0">Ukrainian</a>
        </div>
    </nav>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col" th:text="#{index.table.title}">Tour Title</th>
            <th scope="col" th:text="#{index.table.description}">Description</th>
            <th scope="col" th:text="#{index.table.price}">Price</th>
        </tr>
        </thead>
        <tbody>
        <!-- Fixed loop and columns to match the supposed properties -->
        <!-- <tr th:each="voucher : ${vouchers}"> -->
        <tr th:each="voucher : ${voucherPage}">
            <td th:text="${voucher.title}"></td>
            <td th:text="${voucher.description}"></td>
            <td th:text="${voucher.price}"></td>
        </tr>
        </tbody>
    </table>

    <div th:insert="~{fragments/pagination :: pageNavigation}"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
